[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
waifu2x = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.10"
